# Документация - https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Владельцы проекта TGBot
/** @Bopemt @fedniko @PetrovEgor @SaryalVasilyev @VasilevSaryal
